<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Mechanic</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/bundles/LayoutViewStyles")

    <script type="text/javascript">var __tcaExcludeHostedCss=true;</script>
    <script type="text/javascript" src="http://typecast.com/project_css/FV7wqwPkzV/68136959496a54.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

    @RenderSection("Styles", false)
</head>
<body>
    <div id="divPageWrapper" class="col-xs-12 no-padding-left no-padding-right">
        <div id="divHeadWrapper" class="navbar navbar-default navbar-fixed-top no-padding-left no-padding-right">
            <div id="divLogoWrapper" class="col-sm-4 no-padding-left no-padding-right cursor-pointer">
                <i class="fa fa-code"></i>
                <span class="user-designation display-block  font-family-Hallelujah">Code Mechanic</span>
            </div>
            <div class="col-xs-12 col-sm-8 no-padding-left no-padding-right">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbarHeaderCollapse" class="font-family-Hallelujah">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="~/Home">Home</a> </li>
                        <li><a href="~/Home/AboutMe">About Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="divContentWrapper" class="col-xs-12 no-padding-left no-padding-right">
            <div class="col-xs-push-12 col-xs-12 col-md-3 no-padding-left no-padding-right" id="divLeftAside">
                <div class="img-responsive">
                    <img class="img-rounded" src="~/Uploads/1409162197_172625.ico">
                    <span class="user-name title-color display-block text-align-center font-family-Hallelujah">Shekhar Pankaj</span>
                    <span class="user-designation mute-color display-block text-align-center font-family-Hallelujah">Code Mechanic</span>
                    <div id="divUserQuickFollowButtons" class="col-xs-12 no-padding-left no-padding-right">
                        <span class="quick-subscribe-thumbnail facebook-handler"><i class="fa fa-facebook"></i></span>
                        <span class="quick-subscribe-thumbnail instagram-handler"><i class="fa fa-instagram"></i></span>
                        @*<span class="quick-subscribe-thumbnail google-plus-handler"><i class="fa fa-stack-overflow "></i></span>*@                     
                        <span class="quick-subscribe-thumbnail linkedin-handler "><i class="fa fa-linkedin"></i></span>
                        <span class="quick-subscribe-thumbnail github-handler "><i class="fa fa-github"></i></span>
                        <span class="quick-subscribe-thumbnail twitter-handler "><i class="fa fa-twitter"></i></span>                       
                        <span class="quick-subscribe-thumbnail quora-handler "><i class="fa fa-quora"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xs-pull-12 col-md-9 no-padding-left no-padding-right " id="divSubContentWrapper">
                <div class="container col-xs-12 custom-padding-left-5 custom-padding-right-5">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @* Scripts area, Include Bundles here *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
